<div style="overflow: hidden;height: 100px;">

  <nav>
    <a href="#" class="brand">
      <img class="logo" src="../assets/img/fict_logo.png" />
      <span class="news-text">News</span>
    </a>
  
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">Menu</label>
  
    <div class="menu" [ngClass]="{'none': !loggedIn}">
      <a routerLink="/dashboard" class="pseudo button">Dashboard <i class="fas fa-home"></i></a>
      <label for="modal_1" class="pseudo button">New Post <i class="fas fa-plus-square"></i></label>
      <a class="pseudo button" (click)="logout()">Logout <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </nav>
  
</div>


<router-outlet></router-outlet>

<div class="modal">
  <input id="modal_1" type="checkbox" />
  <label for="modal_1" class="overlay"></label>
  <article>
    <header>
      <h3>New Post</h3>
      <label for="modal_1" class="close" id="closeNewPostModal">&times;</label>
    </header>
    <section class="content">
      <div style="text-align: center; margin-bottom:20px" class="tabs three">
          <input id="tabC-1" type="radio" checked name="tabgroupC" aria-hidden="true">
          <label for="tabC-1" id="returnToTabOne" class="pseudo button toggle">1</label>
          <span> /</span>
          <input id="tabC-2" type="radio" name="tabgroupC" aria-hidden="true">
          <label for="tabC-2" class="pseudo button toggle">2</label>
          <span> /</span>
          <input id="tabC-3" type="radio" name="tabgroupC" aria-hidden="true">
          <label for="tabC-3" class="pseudo button toggle">3</label>

          <div class="row">
            <div class="card">
              <section class="flex one">
                <h3>Add a Title for your Post</h3>
                <input type="text" placeholder="Post Title" [(ngModel)]="post.title" aria-label="Post Title" style="margin-left:12px">
              </section>
              <footer>
                <label for="tabC-2" class="button">Next</label>
              </footer>
            </div>
            <div class="card">
              <header><h3>Put a Pretty Picture</h3></header>
              <div class="flex one two-600">
                <div class="full half-600">
                  <label class="dropimage">
                    <input #profilePicture title="Drop image or click me" type="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                  </label>
                </div>
                <div class="full half-600">
                  <img id="blah" alt="your image" src="./../assets/img/placeholder-image.png" style="margin-top: 6px; margin-left: 6px;"/>
                </div>
                
              </div>
              
              <footer>
                <label for="tabC-1" class="button dangerous">Back</label>
                <label for="tabC-3" class="button">Next</label>
              </footer>
            </div>
            <div class="card">
              <header>
                <h3>Write Your Post</h3>
              </header>
              <section>
                <textarea placeholder="Description" rows="4" [(ngModel)]="post.description"></textarea>
              </section>
              <footer>
                <label for="tabC-2" class="button dangerous">Back</label>
                <button class="success" (click)="createNewPost()">Finish!</button>
              </footer>
            </div>
          </div>
      </div>
    </section>
  </article>
</div>